body {
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
    font-family: Bad Script;
}

#todo { 
    max-width: 400px; 
    background: white;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 8px black;
    padding-bottom: 6%;

}

h1 { 
    text-transform: uppercase; 
    background: #86a8e7; 
    color: white;  
    margin: 0; 
    padding: 10px 28px;     
    font-weight: normal;
}

input { 
    width: 93.4%; 
    height: 50px; 
    font-size: 20px;
    padding-left: 25px;
    border-width: 3px 0; 
    border-style: solid;
    border-color: gray; 
    color: gray;
    font-family: inherit;
}

input:focus { 
    background: #edf1f5; 
    border-color: #86a8e7; 
    outline: none; 
    color: #86a8e7; 
} 

.todos { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    max-height: 70%;
    overflow: auto;
} 

.todos li { 
    background: #f7f7f7;
    height: 50px;
    line-height: 50px;
    cursor: pointer; 
    font-size: 20px; 
    padding-left: 2%;
    user-select: none;
} 

.todos li:nth-child(2n) { 
    background: #edf1f5;
} 

#buttons {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
    left: 0;
}

button {
    background-color: #86a8e7;
    border: 2px solid transparent;
    color: white;
    padding: 8px 20px;
    margin: 0 20px;
    font-size: 15px;
    border-radius: 4px;
    font-family: inherit;
}

button:hover {
    background-color: white;
    color: black;
    border-color: #86a8e7;
    cursor: pointer;
} 

.checked { 
    color: gray; 
    text-decoration: line-through; 
} 

.todos img { 
    width: 0px; 
    height: 26px; 
    vertical-align: sub;
    margin-right: 10px;
    transition: width 0.3s, opacity 0.3s;
    margin-left: 5px;
} 
.todos li:hover img{
    width: 24px;
    opacity: 1;
}

@media (max-width: 450px) { 

    #todo { 
    max-width: 100%; 
    height: 100%; 
    padding-bottom: 15%;
    }
    
} 



::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}